<app-header></app-header> 
<div class="pcoded-main-container">
    <app-sidebar></app-sidebar>
<div class="mdk-header-layout__content page-content">
    <div class="page-section">
        <div class="mdk-box bg-primary mdk-box--bg-gradient-primary2 js-mdk-box mb-0" data-effects="blend-background" data-domfactory-upgraded="mdk-box"><div class="mdk-box__bg"><div class="mdk-box__bg-front" style="transform: translateZ(0px); will-change: opacity; opacity: 2.17004;"></div><div class="mdk-box__bg-rear" style="transform: translateZ(0px); will-change: opacity; opacity: -1.17004;"></div></div>
        <div class="mdk-box__content">
            <div class="hero text-center view-batches text-sm-left">
                <div class="container page__container">
                    <div class="row">
                        <div class="col-md-12">
                             <h3 class="text-white">Grade 2 - English</h3>
                        </div>
                            <div class="col-md-6 mt-3">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="view-date">
                                            <h5 class="white"><span class="mr-2 fs-17 text-success material-icons icon-image-preview">calendar_today</span> Start On : <span class="ml-2">6th July</span></h5>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="view-date">
                                            <h5 class="white"><span class="mr-2 fs-17 text-success material-icons icon-image-preview">calendar_today</span> End On : <span class="ml-2">8th July</span></h5>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="view-date">
                                            <h5 class="white"> <span class="mr-2 fs-17 text-success material-icons icon-image-preview">schedule</span> Duration : <span class="ml-2">7:30 hrs</span></h5>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="view-date"> 
                                            <h5 class="white"><span  class="fs-17 material-icons mr-2 text-success icon-image-preview">video_label</span>  Class On : <span class="ml-2">MON THU</span></h5>
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
        <div class="container page__container m-t-40">
            <div class="row">
                <div class="col-lg-3"> 
                    <div class="card">
                        <div class="card-body">
                            <div class="text-center mt-3">
                                <img src="assets/images/profile.jpg" alt="" class="avatar-lg rounded-circle">
                                <h5 class="mt-2 mb-0">Jhon Snow</h5>
                                <h6 class="text-muted font-weight-normal mt-2 mb-0">Btech
                                </h6>
                                <h6 class="text-muted font-weight-normal mt-1 mb-3">San Francisco, CA</h6>

                                <button type="button" class="btn btn-primary btn-sm mr-2">Online</button>
                                <button type="button" class="btn btn-success btn-sm"><span class="mr-1  wihte material-icons icon-image-preview">phone</span> Call</button>
                            </div>
                             <div class="list-pro mt-3 pt-2 border-top">
                                <div class="row mt-3">
                                    <div class="col-3">
                                      <a><span class="material-icons mr-1 text-warning icon-image-preview">star_rate</span><span>4.9</span></a>
                                    </div>
                                    <div class="col-3">
                                      <a><span  class="material-icons text-primary mr-1 icon-image-preview">language</span><span>Kerala</span></a>
                                    </div>
                                    <div class="col-6">
                                      <a><span  class="material-icons text-success mr-1 icon-image-preview">person</span><span><br> 100 Student</span></a>
                                    </div>
                                  </div> 
                             </div>
                            <!-- profile  -->
                            <div class="mt-3 pt-2 border-top">
                                <h5 class="mb-3 font-size-15">Description List</h5>
                                <p class="text-muted mb-4">Lorem Ipusm</p>
                            </div>
                            <!-- <div class="mt-3 pt-2 border-top">
                                <h5 class="mb-3 font-size-15">Contact Information</h5>
                                <div class="table-responsive">
                                    <table class="table table-borderless mb-0 text-muted">
                                        <tbody>
                                            <tr>
                                                <th scope="row">Email</th>
                                                <td>xyz123@gmail.com</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Phone</th>
                                                <td>(123) 123 1234</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Address</th>
                                                <td>1975 Boring Lane, San Francisco, California, United States -
                                                    94108</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div> -->
                           
                        </div>
                    </div>
                    <!-- end card -->

                </div>

                <div class="col-lg-9">
                    <div class="card">
                        <div class="card-body">
                           
                            <ul class="nav nav-pills navtab-bg nav-justified" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-activity-tab" data-toggle="pill" href="#pills-activity" role="tab" aria-controls="pills-activity" aria-selected="true">
                                        Schedule
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-messages-tab" data-toggle="pill" href="#pills-messages" role="tab" aria-controls="pills-messages" aria-selected="false">
                                        Content
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-projects-tab" data-toggle="pill" href="#pills-projects" role="tab" aria-controls="pills-projects" aria-selected="false">
                                        Test
                                    </a>
                                </li>
                            </ul>
                            <div class="row mt-3 m-b-30">
                                <div class="offset-md-9 col-md-3">
                                     <input type="text" class="form-control" placeholder="Search">
                                </div>
                           </div> 
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade active show" id="pills-activity" role="tabpanel" aria-labelledby="pills-activity-tab">
                                    <div class="update-classes-schedule">
                                         <h5 class="mb-2 white">Upcomimg Classes</h5>
                                         <h4 class="mb-0 white">Grade 2 - English - Session 11 -Elements of a Story</h4>
                                    </div>
                                    <div class="left-timeline mt-3 mb-3 pl-4">
                                        <ul class="list-unstyled events mb-0">
                                            <li class="event-list">
                                                <div class="pb-4">
                                                    <div class="media">
                                                        <div class="event-date text-center mr-4">
                                                            <div class="bg-soft-primary p-1 rounded text-primary font-size-14">
                                                                23 January</div>
                                                        </div>
                                                        <div class="media-body">
                                                            <div class="col-sm-12 col-12 col-md-12 col-mg-12 card-group-row__col">
                                                                <div class="card stack stack--1 card-group-row__card">
                                                                    <div class="card-body d-flex flex-column">
                                                                        <div class="d-flex align-items-center">
                                                                            <div class="view-schedule-list">
                                                                                 <h6 class="fs-16"><span class="mr-2">Class:</span>Grade 2 - English - Session 1 - Nouns - English</h6>
                                                                                 <ul class="mb-2 mt-4">
                                                                                     <li>
                                                                                         <a><span> By : </span> Kriti</a>
                                                                                     </li>
                                                                                     <li><a> <span class="material-icons fs-17  icon-image-preview mr-1">message</span> Feedback</a></li>
                                                                                 </ul>
                                                                                 <div class="pt-2 border-top">
                                                                                    <ul>
                                                                                        <li>
                                                                                            <a><span class="material-icons fs-17 icon-image-preview mr-1">replay</span>Replay Session</a>
                                                                                        </li>
                                                                                        <li><a> <span class="material-icons fs-17 icon-image-preview mr-1">note_add</span> Get Notes</a></li>
                                                                                    </ul> 
                                                                                 </div> 
                                                                            </div>
                                                                        </div>
                                                                    </div> 
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="event-list">
                                                <div class="pb-4">
                                                    <div class="media">
                                                        <div class="event-date text-center mr-4">
                                                            <div class="bg-soft-primary p-1 rounded text-primary font-size-14">
                                                                2 March</div>
                                                        </div>
                                                        <div class="media-body">
                                                            <div class="col-sm-12 col-12 col-md-12 col-mg-12 card-group-row__col">
                                                                <div class="card stack stack--1 card-group-row__card">
                                                                    <div class="card-body d-flex flex-column">
                                                                        <div class="d-flex align-items-center">
                                                                            <div class="view-schedule-list">
                                                                                 <h6 class="fs-16"><span class="mr-2">Class:</span>Grade 2 - English - Session 1 - Nouns - English</h6>
                                                                                 <ul class="mb-2 mt-4">
                                                                                     <li>
                                                                                         <a><span> By : </span> Kriti</a>
                                                                                     </li>
                                                                                     <li><a> <span class="material-icons fs-17  icon-image-preview mr-1">message</span> Feedback</a></li>
                                                                                 </ul>
                                                                                 <div class="pt-2 border-top">
                                                                                    <ul>
                                                                                        <li>
                                                                                            <a><span class="material-icons fs-17 icon-image-preview mr-1">replay</span>Replay Session</a>
                                                                                        </li>
                                                                                        <li><a> <span class="material-icons fs-17 icon-image-preview mr-1">note_add</span> Get Notes</a></li>
                                                                                    </ul> 
                                                                                 </div> 
                                                                            </div>
                                                                        </div>
                                                                    </div> 
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- messages -->
                                <div class="tab-pane" id="pills-messages" role="tabpanel" aria-labelledby="pills-messages-tab">
                                    <h5 class="mt-3">Content</h5> 
                                    <p class="mt-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem non illo ipsa, laborum, earum quis dignissimos cum ullam tempore tempora culpa, mollitia error necessitatibus velit explicabo delectus! Accusamus, optio repellendus.</p>
                                </div>

                                <div class="tab-pane fade" id="pills-projects" role="tabpanel" aria-labelledby="pills-projects-tab">
                                    <h5 class="mt-3">Test</h5>
                                    <p class="mt-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem non illo ipsa, laborum, earum quis dignissimos cum ullam tempore tempora culpa, mollitia error necessitatibus velit explicabo delectus! Accusamus, optio repellendus.</p>
                                    <!-- end row -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end card -->
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<app-footer></app-footer> 

<div id="delete-modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-body text-center">
        <div class="row">
          <div class="col-md-12">
            <span class="text-danger fs-34 material-icons mr-2 icon-image-preview  mb-2">delete_outline</span>
           
            <h6>Are you sure want to delete?</h6>
          </div>
        </div>
        <hr />
        <div class="row m-t-15">
          <div class="col-sm-12">
            <button type="button" class="btn btn-sm btn-success mr-1" data-target="#delete-sccess-modal" data-toggle="modal" data-dismiss="modal">Delete</button>
            <button type="button" class="btn btn-sm btn-danger ml-1" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>