<div class="form-group">
  <label class="form-control-label">{{label}}</label>
  <div class="input-group input-group-merge">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <img src="assets/images/icon/password.svg" width="20px" height="20px">
      </span>
    </div>
    <input  [type]="showPassword ? 'text' :'password'" [value]="value" [disabled]="disabled" (keyup)="onChanged($event)"
      class="form-control" id="password"  [placeholder]="placeholder">
    <span (click)="togglePassField()" class="fas fa-eye-slash field-icon password toggle-password"
      [ngClass]="{'fa-eye-slash': showPassword, 'fa-eye': !showPassword}"></span>
  </div>
</div>
 