<app-header></app-header> 
<div class="pcoded-main-container">
    <app-sidebar></app-sidebar>
<div class="mdk-header-layout__content page-content ">
    <div class="pt-32pt">
        <div class="container page__container d-flex flex-column flex-md-row align-items-center text-center text-sm-left">
            <div class="flex d-flex flex-column flex-sm-row align-items-center mb-24pt mb-md-0">
                <div class="mb-24pt mb-sm-0 mr-sm-24pt">
                    <h3 class="mb-0">Reports > <a routerLink="/batches/reports">Back</a></h3>
                </div>
            </div>
        </div>
    </div>
    <div class="page-section">
        <div class="container page__container">
            <div class="row">
                <div class="col-md-6">
                    <div class="report-left-side">
                         <div class="d-flex">
                             <div class="rp-image">
                                  <img src="assets/images/report.png" alt="" width="55px">
                             </div>
                             <div class="ml-4 rp-dtl">
                                 <h5 class="mb-1">JEE Advance Mock Test Report</h5>
                                 <p class="mb-1"><span class="text-success fw-600">Mark:</span>&nbsp;<span>80</span></p>
                                 <p class="mb-0"><span class="text-success fw-600">Total Time:</span> &nbsp;<span>02:00:00</span></p>
                             </div>
                         </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="report-right-side">
                         <p><span class="text-success fw-600">Attempted on :</span>&nbsp;<span>16-june-2020</span>&nbsp;<span>4:53 PM</span></p>
                    </div>
                </div>
            </div>
           <div class="row">
                <div class="col-md-12 mx-auto">  
                    <div class="mt-4 card">
                        <div class="my-bg" style="background-image: url(assets/images/triangles-top.svg);">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="rep-title">
                                        <h4 class="mb-2 text-white">Hey Fathima , keep improving !</h4>
                                        <span class="text-warning">Your Scroe</span>
                                        <h5>3/80 <img src="assets/images/reward.png" class="ml-3" alt="" width="45px"></h5>
                                        <a href=""  class="btn btn-outline-white ml-0">33 % Accuracy</a>
                                    </div> 
                                </div>
                                <div class="col-md-6">
                                    <div class="pd-7">  
                                        <div class="rep-over">
                                            <div class="rep-1">
                                               <span class="fs-17 material-icons icon-image-preview">done_all</span> 
                                               <span class="r-sml">Attempt</span><span class="text-right r-big">11%</span>
                                            </div>
                                       </div>
                                       <div class="rep-over">
                                           <div class="rep-1">
                                              <span class="fs-17 material-icons icon-image-preview">access_time</span> 
                                              <span class="r-sml">Time</span><span class="text-right float-right"><span class="ac-tim">0.83 mins </span><span class="ac-sec fw-400">/120.00 mins</span></span>
                                           </div>
                                      </div>
                                      <div class="rep-over">
                                           <div class="rep-1">
                                           <span class="fs-17 material-icons icon-image-preview">redeem</span> 
                                           <span class="r-sml">Rank</span><span class="text-right r-big">--</span>
                                           </div>
                                       </div>
                                    </div>
                                </div>
                            </div> 
                        </div> 
                    </div> 
                </div>
            </div> 
            <div class="row">
                <div class="col-sm-4 col-12 col-md-4 col-mg-4 card-group-row__col">
                    <div class="card stack stack--1 card-group-row__card">
                        <div class="card-body d-flex flex-column">
                            <div class="d-flex align-items-center">
                                <div class="flex">
                                    <div class="d-flex align-items-center">
                                        <div class="flex">
                                            <div class="card-title fw-600">Total Questions</div>
                                            <h4 class="flex text-black-50 lh-1 mt-3 mb-0">80</h4>
                                        </div>
                                    </div>
                                </div>
                                <img src="assets/images/document.png" width="60" alt=""></div>
                            </div>
                        </div>
                </div>
                <div class="col-sm-8 col-12 col-md-8 col-mg-8 card-group-row__col">
                    <div class="card stack stack--1 card-group-row__card">
                           <div class="atmp-list">
                                <ul>
                                    <li>
                                        <span class="material-icons text-success icon-image-preview">assignment_turned_in</span>&nbsp; <span>Attempted</span>&nbsp;<span>9</span>
                                    </li>
                                    <li>
                                        <span class="material-icons text-danger icon-image-preview">announcement</span>&nbsp; <span>Unattempted</span>&nbsp;<span>9</span>
                                    </li>
                                    <li>
                                        <span class="material-icons text-success icon-image-preview">check_circle</span>&nbsp; <span>Correct</span>&nbsp;<span>18</span>
                                    </li> 
                                    <li>
                                        <span class="material-icons text-danger icon-image-preview">clear</span>&nbsp; <span>Incorrect</span>&nbsp;<span>19</span>
                                    </li>
                                </ul>
                           </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                     <div class="report-dels">
                           <h5>Subject wise comparision</h5>
                           <div class="card table-responsive">
                            <table class="table table-striped table-bordered nowrap m-0 dataTable no-footer">
                                <thead>
                                    <th></th>
                                    <th>Total</th>
                                    <th>Your</th>
                                    <th>Class avg</th>
                                    <th>Top 10 Percentile</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Ovarall</td>
                                        <td>
                                            80
                                        </td>
                                        <td>
                                        5
                                    </td>
                                    <td></td>
                                    <td></td>
                                    </tr>
                                    <tr>
                                        <td>Math</td>
                                    <td>
                                        80
                                    </td>
                                    <td>
                                        5
                                    </td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>English</td>
                                    <td>
                                        80
                                    </td>
                                    <td>
                                        5
                                    </td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Social Studies</td>
                                    <td>
                                        80
                                    </td>
                                    <td>
                                        5
                                    </td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Biology</td>
                                    <td>
                                        80
                                    </td>
                                    <td>
                                        5
                                    </td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Physics</td>
                                    <td>
                                        80
                                    </td>
                                    <td>
                                        5
                                    </td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                         </div>
                     </div>
                </div>
                <div class="col-md-12">
                    <div class="report-dels"> 
                          <h5>Question Type wise summery</h5>
                          <p class="text-success">Overall</p>
                          <div class="card table-responsive">
                            <table class="table table-striped table-bordered nowrap m-0 dataTable no-footer">
                                <thead>
                                       <th></th>
                                       <th>Your</th>
                                       <th>Total</th>
                                       <th>Top 10 Percentile</th>
                                       <th>Topper</th>
                                       <th>Class avg</th>
                                      
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>SCQ</td>
                                        <td>
                                            80
                                        </td>
                                        <td>
                                           5
                                       </td>
                                       <td></td>
                                       <td></td>
                                       <td></td>
                                    </tr>
                                </tbody>
                            </table>
                          </div>
                    </div>
               </div>
               <div class="col-md-12">
                <div class="report-dels">
                      <p class="text-success">Math</p>
                      <div class="card table-responsive">
                        <table class="table table-striped table-bordered nowrap m-0 dataTable no-footer">
                            <thead>
                                   <th></th>
                                   <th>Your</th>
                                   <th>Total</th>
                                   <th>Top 10 Percentile</th>
                                   <th>Topper</th>
                                   <th>Class avg</th>
                                  
                            </thead>
                            <tbody>
                                <tr>
                                    <td>SCQ</td>
                                    <td>
                                        80
                                    </td>
                                    <td>
                                       5
                                   </td>
                                   <td></td>
                                   <td></td>
                                   <td></td>
                                </tr>
                                
                            </tbody>
                        </table>
                      </div>
                </div>
               </div>
               <div class="col-md-12">
                <div class="report-dels">
                      <p class="text-success"> Social Studies</p>
                      <div class="card table-responsive">
                        <table class="table table-striped table-bordered nowrap m-0 dataTable no-footer">
                            <thead>
                                   <th></th>
                                   <th>Your</th>
                                   <th>Total</th>
                                   <th>Top 10 Percentile</th>
                                   <th>Topper</th>
                                   <th>Class avg</th>
                                  
                            </thead>
                            <tbody>
                                <tr>
                                    <td>SCQ</td>
                                    <td>
                                        80
                                    </td>
                                    <td>
                                       5
                                   </td>
                                   <td></td>
                                   <td></td>
                                   <td></td>
                                </tr>
                                
                            </tbody>
                        </table>
                      </div>
                </div>
               </div>
               <div class="col-md-12">
                <div class="report-dels">
                      <p class="text-success">English</p>
                      <div class="card table-responsive">
                        <table class="table table-striped table-bordered nowrap m-0 dataTable no-footer">
                            <thead>
                                   <th></th>
                                   <th>Your</th>
                                   <th>Total</th>
                                   <th>Top 10 Percentile</th>
                                   <th>Topper</th>
                                   <th>Class avg</th>
                                  
                            </thead>
                            <tbody>
                                <tr>
                                    <td>SCQ</td>
                                    <td>
                                        80
                                    </td>
                                    <td>
                                       5
                                   </td>
                                   <td></td>
                                   <td></td>
                                   <td></td>
                                </tr>
                                
                            </tbody>
                        </table>
                      </div>
                </div>
               </div>
               <div class="col-md-12">
                <div class="report-dels">
                      <p class="text-success">Chemistry</p>
                      <div class="card table-responsive">
                        <table class="table table-striped table-bordered nowrap m-0 dataTable no-footer">
                            <thead>
                                   <th></th>
                                   <th>Your</th>
                                   <th>Total</th>
                                   <th>Top 10 Percentile</th>
                                   <th>Topper</th>
                                   <th>Class avg</th>
                                  
                            </thead>
                            <tbody>
                                <tr>
                                    <td>SCQ</td>
                                    <td>
                                        80
                                    </td>
                                    <td>
                                       5
                                   </td>
                                   <td></td>
                                   <td></td>
                                   <td></td>
                                </tr>
                                
                            </tbody>
                        </table>
                      </div>
                </div>
               </div>
               <div class="col-md-12">
                <div class="report-dels">
                      <p class="text-success">Physics</p>
                      <div class="card table-responsive">
                        <table class="table table-striped table-bordered nowrap m-0 dataTable no-footer">
                            <thead>
                                   <th></th>
                                   <th>Your</th>
                                   <th>Total</th>
                                   <th>Top 10 Percentile</th>
                                   <th>Topper</th>
                                   <th>Class avg</th>
                                  
                            </thead>
                            <tbody>
                                <tr>
                                    <td>SCQ</td>
                                    <td>
                                        80
                                    </td>
                                    <td>
                                       5
                                   </td>
                                   <td></td>
                                   <td></td>
                                   <td></td>
                                </tr>
                                
                            </tbody>
                        </table>
                      </div>
                </div>
               </div>
               <div class="col-md-12">
                <div class="report-dels">
                    <h5>Difficulty level wise summary</h5>
                      <p class="text-success">Overall</p>
                      <div class="card table-responsive">
                        <table class="table table-striped table-bordered nowrap m-0 dataTable no-footer">
                            <thead>
                                   <th></th>
                                   <th>Your</th>
                                   <th>Total</th>
                                   <th>Top 10 Percentile</th>
                                   <th>Topper</th>
                                   <th>Class avg</th>
                                  
                            </thead>
                            <tbody>
                                <tr>
                                    <td>MODERATE</td>
                                    <td>
                                        80
                                    </td>
                                    <td>
                                       5
                                   </td>
                                   <td></td>
                                   <td></td>
                                   <td></td>
                                </tr>
                                <tr>
                                    <td>EASY</td>
                                    <td>
                                        80
                                    </td>
                                    <td>
                                       5
                                   </td>
                                   <td></td>
                                   <td></td>
                                   <td></td>
                                </tr>
                                <tr>
                                    <td>TOUGH</td>
                                    <td>
                                        80
                                    </td>
                                    <td>
                                       5
                                   </td>
                                   <td></td>
                                   <td></td>
                                   <td></td>
                                </tr>
                            </tbody>
                        </table>
                      </div>
                </div>
               
               </div>
               <div class="col-md-12">
                <div class="report-dels">
                      <p class="text-success">Maths</p>
                      <div class="card table-responsive">
                        <table class="table table-striped table-bordered nowrap m-0 dataTable no-footer">
                            <thead>
                                   <th></th>
                                   <th>Your</th>
                                   <th>Total</th>
                                   <th>Top 10 Percentile</th>
                                   <th>Topper</th>
                                   <th>Class avg</th>
                                  
                            </thead>
                            <tbody>
                                <tr>
                                    <td>MODERATE</td>
                                    <td>
                                        80
                                    </td>
                                    <td>
                                       5
                                   </td>
                                   <td></td>
                                   <td></td>
                                   <td></td>
                                </tr>
                                <tr>
                                    <td>EASY</td>
                                    <td>
                                        80
                                    </td>
                                    <td>
                                       5
                                   </td>
                                   <td></td>
                                   <td></td>
                                   <td></td>
                                </tr>
                                <tr>
                                    <td>TOUGH</td>
                                    <td>
                                        80
                                    </td>
                                    <td>
                                       5
                                   </td>
                                   <td></td>
                                   <td></td>
                                   <td></td>
                                </tr>
                            </tbody>
                        </table>
                      </div>
                </div>
               </div>
            </div>
        </div>
    </div> 
</div>
</div>
<app-footer></app-footer>  
