
<app-header></app-header>
<div class="pcoded-main-container">
    <app-sidebar></app-sidebar>
<div class="mdk-header-layout__content page-content ">
    <div class="pt-32pt">
        <div class="container page__container d-flex flex-column flex-md-row align-items-center text-center text-sm-left">
            <div class="flex d-flex flex-column flex-sm-row align-items-center mb-24pt mb-md-0">
                <div class="mb-24pt mb-sm-0 mr-sm-24pt">
                    <h3 class="mb-0">FAQ</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="page-section">
        <div class="container page__container">
            <div class="row">
                <!-- <div class="col-md-3">
                    <button routerLink="/batches/view-batches" type="button" class="btn btn-sm btn-success">View</button>
                </div> -->
            </div>
            <div class="accordion js-accordion accordion--boxed mb-24pt" id="parent" data-domfactory-upgraded="accordion">
                <div class="accordion__item">
                    <a class="accordion__toggle collapsed" data-toggle="collapse" data-target="#course-toc-1" data-parent="#parent" aria-expanded="false">
                        <h5 class="mb-0 flex pointer">How will this course work?</h5>
                        <span class="accordion__toggle-icon material-icons">keyboard_arrow_down</span>
                    </a>
                    <div class="accordion__menu collapse" id="course-toc-1">
                        <div class="accordion__menu-link">
                             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                 Corrupti sequi iure pariatur temporibus commodi, ipsum
                                  repellendus ut omnis laborum asperiores tenetur voluptatibus quis eaque
                                   similique excepturi a! Omnis, voluptatibus quibusdam!</p>
                        </div>
                    </div>
                </div>
                <div class="accordion__item">
                    <a class="accordion__toggle collapsed" data-toggle="collapse" data-target="#course-toc-2" data-parent="#parent" aria-expanded="false">
                        <h5 class="flex mb-0 pointer">How can I attend a LIVE session?</h5>
                        <span class="accordion__toggle-icon material-icons">keyboard_arrow_down</span>
                    </a>
                    <div class="accordion__menu collapse" id="course-toc-2">
                        <div class="accordion__menu-link">
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem,
                                 voluptatem numquam magnam aspernatur sint soluta amet neque sapiente 
                                 veritatis mollitia quis fuga dolorem nihil vero unde quas voluptatibus 
                                 distinctio eos.</p>
                        </div>
                    </div>
                </div>
                <div class="accordion__item">
                    <a class="accordion__toggle collapsed" data-toggle="collapse" data-target="#course-toc-3" data-parent="#parent" aria-expanded="false">
                        <h5 class="mb-0 flex pointer">Are there any system and internet requirements for attending the class?</h5>
                        <span class="accordion__toggle-icon material-icons">keyboard_arrow_down</span>
                    </a>
                    <div class="accordion__menu collapse" id="course-toc-3">
                        <div class="accordion__menu-link">
                           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                               Eveniet eligendi quae sapiente harum autem, laboriosam deleniti eum beatae
                                ipsum est explicabo quos aspernatur quam? Aspernatur possimus magnam officia
                                 dolores consequatur.</p>
                        </div>
                    </div>
                </div>
                <div class="accordion__item">
                    <a class="accordion__toggle collapsed" data-toggle="collapse" data-target="#course-toc-4" data-parent="#parent" aria-expanded="false">
                        <h5 class="flex mb-0 pointer">Can I attend the class on the mobile/tablet?</h5>
                        <span class="accordion__toggle-icon material-icons">keyboard_arrow_down</span>
                    </a>
                    <div class="accordion__menu collapse" id="course-toc-4">
                        <div class="accordion__menu-link">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia saepe atque dicta eligendi vel iusto fugiat ea obcaecati amet dolor sequi in culpa numquam iste, alias deserunt commodi cupiditate rem.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<app-footer></app-footer>
