<app-header></app-header> 
<div class="pcoded-main-container">
    <app-sidebar></app-sidebar>
<div class="mdk-header-layout__content page-content ">
    <div class="pt-32pt">
        <div class="container page__container d-flex flex-column flex-md-row align-items-center text-center text-sm-left">
            <div class="flex d-flex flex-column flex-sm-row align-items-center mb-24pt mb-md-0">
                <div class="mb-24pt mb-sm-0 mr-sm-24pt">
                    <h3 class="mb-0">Help & Support</h3>
                    <ol class="breadcrumb p-0 m-0">
                        <li class="breadcrumb-item"><a>Dashboard</a></li>
                        <li class="breadcrumb-item active">
                            Help & Support
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="page-section">
        <div class="container page__container">
                <div class="col-md-6 p-0">
                    <form>
                        <div class="form-group">
                            <label class="form-label">Enter Your Query</label>
                            <input type="text" class="form-control" value="" placeholder="">
                        </div>
                        <div class="form-group">
                            <label class="form-label">Send Message</label>
                            <textarea class="form-control" rows="4"></textarea>
                        </div>
                        <button class="btn btn-primary">Send</button>
                    </form>
                </div>
                <div class="col-md-8 mt-4">
                    <div class="page-separator">
                        <div class="page-separator__text">Mail Us</div>
                    </div>
                    <h6>kriti@gmail.com</h6>
                </div>
                <div class="col-md-8 mt-4">
                    <div class="page-separator">
                        <div class="page-separator__text">Call Us</div>
                    </div>
                    <h6>9439520732</h6>
                </div>
                <div class="col-md-12 mt-4 mb-4">
                    <div class="text-center">
                        <h6>24*7 support /Your will be revert within 2 working days.</h6>
                    </div>
                </div>
        </div>
    </div>
</div>
</div>
<app-footer></app-footer> 

<div id="delete-modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-body text-center">
        <div class="row">
          <div class="col-md-12">
            <span class="text-danger fs-34 material-icons mr-2 icon-image-preview  mb-2">delete_outline</span>
           
            <h6>Are you sure want to delete?</h6>
          </div>
        </div>
        <hr />
        <div class="row m-t-15">
          <div class="col-sm-12">
            <button type="button" class="btn btn-sm btn-success mr-1" data-target="#delete-sccess-modal" data-toggle="modal" data-dismiss="modal">Delete</button>
            <button type="button" class="btn btn-sm btn-danger ml-1" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>