<div class="authentication-bg">
        
    <div class="account-pages py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-10">
                    <div class="card1">
                        <div class="card-body p-0">
                            <div class="row">
                              <div class="col-lg-6 d-none d-md-inline-block">
                                  <div class="auth-page-sidebar">
                                      <div class="overlay"></div>
                                  </div>
                              </div>
                                <div class="col-12 col-md-6 col-lg-6 col-sm-6 p-5 loging-pd">
                                  <div class="mx-auto mb-4">
                                      <a routerLink="/">
                                          <img src="assets/images/logo_login.svg"  width="10px"  class="b-r-4 img-100 img-fluid" alt="" height="" />
                                      </a>
                                  </div>
                                    <h6 class="h5 mb-0 mt-4">Otp Verification</h6>
                                    <p class="text-muted mt-1 mb-5">
                                        Enter Otp Number for Verification.
                                    </p>
                                    <form class="authentication-form">
                                        <div class="otp">
                                            <ul>
                                                <li class="otp-labl">
                                                    <input class="otp1 form-control" type="text" placeholder="" maxlength="1">
                                                </li>
                                                <li class="otp-labl"><input class="otp1 form-control" type="text" placeholder="" maxlength="1"></li>
                                                <li class="otp-labl"><input class="otp1 form-control" type="text" placeholder="" maxlength="1"></li>
                                                <li class="otp-labl"><input class="otp1 form-control" type="text" placeholder="" maxlength="1"></li>
                                            </ul>
                                        </div>
                                      <div class="form-group mt-4 mb-0 text-center">
                                            <button class="btn btn-block btn-filled form-btn">
                                                <span class="bh"></span>
                                                <span>Submit <i class="float-right uil uil-arrow-right"></i></span>
                                            </button>
                                       </div>
                                  </form>
                                </div>
                            </div>
                        </div> <!-- end card-body -->
                    </div>
                    <!-- end card -->
                    
  
                </div> <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end page -->
    
  </div>
  
  
  
  
    