<app-header></app-header> 
<div class="pcoded-main-container">
    <app-sidebar></app-sidebar>
<div class="mdk-header-layout__content page-content ">
    <div class="pt-32pt">
        <div class="container page__container d-flex flex-column flex-md-row align-items-center text-center text-sm-left">
            <div class="flex d-flex flex-column flex-sm-row align-items-center mb-24pt mb-md-0">
                <div class="mb-24pt mb-sm-0 mr-sm-24pt">
                    <h3 class="mb-0">Test Preview</h3>
                    <ol class="breadcrumb p-0 m-0">
                        <li class="breadcrumb-item"><a>Test Preview</a></li>
                        <li class="breadcrumb-item active">
                            My Test
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="page-section">
        <div class="container page__container">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-12">
                    <div class="card">
                        <div class="card-body p-0">
                            <h6 class="card-title border-bottom p-3 mb-0 header-title">Instruction</h6>
                            <div class="row py-1">
                                <div class="col-xl-3 col-sm-6">
                                    <!-- stat 1 -->
                                    <div class="media p-3">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid align-self-center icon-dual icon-lg mr-4"><rect x="3" y="3" width="7" height="7"></rect><rect x="14" y="3" width="7" height="7"></rect><rect x="14" y="14" width="7" height="7"></rect><rect x="3" y="14" width="7" height="7"></rect></svg>
                                        <div class="media-body">
                                            <h6 class="mt-0 mb-0">40</h6>
                                            <span class="text-muted font-size-13">Total Question</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-sm-6">
                                    <!-- stat 2 -->
                                    <div class="media p-3">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-square align-self-center icon-dual icon-lg mr-4"><polyline points="9 11 12 14 22 4"></polyline><path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path></svg>
                                        <div class="media-body">
                                            <h6 class="mt-0 mb-0">60 Min.</h6>
                                            <span class="text-muted">Total Duration</span>
                                        </div>
                                    </div>
                                </div>
                               
                                <div class="col-xl-3 col-sm-6">
                                    <!-- stat 3 -->
                                    <div class="media p-3">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock align-self-center icon-dual icon-lg mr-4"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg>
                                        <div class="media-body">
                                            <h6 class="mt-0 mb-0">60 Min : 0 sec</h6>
                                            <span class="text-muted">Time Remaining</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- end col -->
                <div class="col-md-12 col-lg-12 col-sm-12 col-12">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="mt-0 header-title">Read All Instruction carefully</h6>

                            <ul class="list-unstyled activity-widget">
                                <li class="activity-list">
                                    <div class="media">
                                        <div class="text-center mr-3">
                                            <div class="avatar-sm">
                                                <span class="avatar-title rounded-circle bg-soft-primary text-primary">1</span>
                                            </div>
                                        </div>
                                        <div class="media-body overflow-hidden">
                                            <h5 class="font-size-15 mt-2 mb-1"><a class="text-dark">This question paper is of objective type</a></h5>
                                        </div>
                                    </div>
                                </li>
                                <li class="activity-list">
                                    <div class="media">
                                        <div class="text-center mr-3">
                                            <div class="avatar-sm">
                                                <span class="avatar-title rounded-circle bg-soft-primary text-primary">2</span>
                                            </div>
                                        </div>
                                        <div class="media-body overflow-hidden">
                                            <h5 class="font-size-15 mt-2 mb-1"><a class="text-dark">All Question paper are comulsary</a></h5>
                                        </div>
                                    </div>
                                </li>
                                <li class="activity-list">
                                    <div class="media">
                                        <div class="text-center mr-3">
                                            <div class="avatar-sm">
                                                <span class="avatar-title rounded-circle bg-soft-primary text-primary">3</span>
                                            </div>
                                        </div>
                                        <div class="media-body overflow-hidden">
                                            <h5 class="font-size-15 mt-2 mb-1"><a class="text-dark">No negative marking.</a></h5>
                                        </div>
                                    </div>
                                </li>
                                <li class="activity-list">
                                    <div class="media">
                                        <div class="text-center mr-3">
                                            <div class="avatar-sm">
                                                <span class="avatar-title rounded-circle bg-soft-primary text-primary">4</span>
                                            </div>
                                        </div>
                                        <div class="media-body overflow-hidden">
                                            <h5 class="font-size-15 mt-2 mb-1"><a class="text-dark">Duration of test is 60 minutes.</a></h5>
                                        </div>
                                    </div>
                                </li>
                                <li class="activity-list">
                                    <div class="media">
                                        <div class="text-center mr-3">
                                            <div class="avatar-sm">
                                                <span class="avatar-title rounded-circle bg-soft-primary text-primary">5</span>
                                            </div>
                                        </div>
                                        <div class="media-body overflow-hidden">
                                            <h5 class="font-size-15 mt-2 mb-1"><a class="text-dark">Exam will be logged out after 3 attempts to navigate away from Assessment.</a></h5>
                                        </div>
                                    </div>
                                </li>
                                <li class="activity-list">
                                    <div class="media">
                                        <div class="text-center mr-3">
                                            <div class="avatar-sm">
                                                <span class="avatar-title rounded-circle bg-soft-primary text-primary">6</span>
                                            </div>
                                        </div>
                                        <div class="media-body overflow-hidden">
                                            <h5 class="font-size-15 mt-2 mb-1"><a class="text-dark">Read the questions and options carefully before attempting.</a></h5>
                                        </div>
                                    </div>
                                </li>
                                <li class="activity-list">
                                    <div class="media">
                                        <div class="custom-control custom-checkbox mb-2">
                                            <input type="checkbox" checked id="customCheck1" class="custom-control-input">
                                            <label for="customCheck1" class="custom-control-label">I have read and understood the instructions. i agree that in case of not adhering to the exam instructions,I will be disqualified from giving the exam.</label>
                                        </div>
                                    </div> 
                                </li>
                                <li class="mt-3">
                                    <div class="media float-right">
                                        <button routerLink="/test/preview-details" class="btn btn-success">Next</button>
                                    </div>
                                </li> 
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<app-footer></app-footer> 

<div id="delete-modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-body text-center">
        <div class="row">
          <div class="col-md-12">
            <span class="text-danger fs-34 material-icons mr-2 icon-image-preview  mb-2">delete_outline</span>
           
            <h6>Are you sure want to delete?</h6>
          </div>
        </div>
        <hr />
        <div class="row m-t-15">
          <div class="col-sm-12">
            <button type="button" class="btn btn-sm btn-success mr-1" data-target="#delete-sccess-modal" data-toggle="modal" data-dismiss="modal">Delete</button>
            <button type="button" class="btn btn-sm btn-danger ml-1" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>